
<div class="full-page">
  <div class="grow-item">
    <data-grid [settings]="ordersGrid"></data-grid>
  </div>

  <mat-tab-group style="height:250px">
    <mat-tab label="ShipInfo">
      <data-area [settings]="shipInfoArea"></data-area>
    </mat-tab>
    <mat-tab label="Order Details {{getOrderTotal()}}" class="full-page" >
      <div class="full-page" style="padding:0 2px">
      <data-grid class="grow-item" [settings]="orderDetailsGrid" height="200"></data-grid>
    </div>
    </mat-tab>

  </mat-tab-group>
  <div>
    <button mat-raised-button (click)="printCurrentOrder()">Print</button>
  </div>

</div>
