<?xml version="1.0"?>
<configuration>
  <appSettings>
    
  </appSettings>
  <system.web>
    <httpRuntime maxQueryStringLength="32768" maxRequestLength="1048576" executionTimeout="900" requestValidationMode="2.0" />
    <compilation debug="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false"/>
  </system.web>
  <system.webServer>
     <security>
        <requestFiltering>
           <requestLimits maxAllowedContentLength="1073741824" />
        </requestFiltering>
     </security>
 </system.webServer>
</configuration>
