/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
  .active  {
    border:solid;
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    
  }
  input,text-area{
    transform:translate3d(0px,0px,0px);
  }
  .modal-backdrop{
    z-index: 0;
}
.row{
  margin-right: 0!important;
  margin-left: 0!important;
}
.table {
  border: 1px solid lightgray;
  border-collapse: collapse;
}
.table input,
button {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
}
.table tr td,th {
  border: 1px solid lightgray;
  padding: 5px;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}
