<div style="display: block;">
    <!-- <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" [options]="options"
        [colors]="colors" (chartClick)="chartClicked($event)"></canvas> -->
</div>
<h4 *ngIf="filterCountry" >
        {{filterCountry}} <a (click)="filterCountry=''">Show All</a>
        </h4>
<mat-form-field class="full-width">
    <input matInput [(ngModel)]="searchString" placeholder="Search Customer" [ngModelOptions]="{standalone: true}">
    <mat-icon matSuffix (click)="searchString=''">clear</mat-icon>
</mat-form-field>

<mat-accordion>
    <ng-container *ngFor="let c of customers.items">
        <mat-expansion-panel *ngIf="showCustomer(c)" (opened)="selectCustomer(c)">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{c.companyName}}
                </mat-panel-title>

            </mat-expansion-panel-header>
            <div class="row" *ngIf="customers.currentRow==c">
                <data-area [settings]="dataArea" [columns]="2"></data-area>
            </div>
            <button mat-raised-button (click)="customers.currentRow.save()" [disabled]="!customers.currentRow._.wasChanged()"
                ><mat-icon>check</mat-icon></button>
            <button (click)="customers.currentRow._.undoChanges();customers.setCurrentRow(c);"
                [disabled]="!customers.currentRow._.wasChanged()"
                mat-raised-button><mat-icon>clear</mat-icon></button>
        </mat-expansion-panel>
    </ng-container>
</mat-accordion>